<!-- app/views/user_suggestions/index.html.erb -->
<%= link_to "Sort name", :controller => "user_suggestions",
  :action => "index", :order => 'name' %>&nbsp;
<%= link_to "Sort name desc", :controller => "user_suggestions",
  :action => "index", :order => 'name desc' %>&nbsp;<br />
<%= link_to "Sort division", :controller => "user_suggestions",
  :action => "index", :order => 'division' %>&nbsp;
<%= link_to "Sort division desc", :controller => "user_suggestions",
  :action => "index", :order => 'division desc' %>&nbsp;
<%= link_to "Sort department", :controller => "user_suggestions",
  :action => "index", :order => 'department' %>&nbsp;
<%= link_to "Sort department desc", :controller => "user_suggestions",
  :action => "index", :order => 'department desc' %>&nbsp;<br />
<%= link_to "Sort create_date", :controller => "user_suggestions",
  :action => "index", :order => 'created_at' %>&nbsp;
<%= link_to "Sort create_date desc", :controller => "user_suggestions",
  :action => "index", :order => 'created_at desc' %>&nbsp;
<%= link_to "Sort mod_date", :controller => "user_suggestions",
  :action => "index", :order => 'updated_at' %>&nbsp;
<%= link_to "Sort mod_date desc", :controller => "user_suggestions",
  :action => "index", :order => 'updated_at desc' %>&nbsp;

<table border="1">
  <tr>
    <th>Name of submittor</th>
    <th>Department</th>
    <th>Division</th>
    <th>Suggestion</th>
    <th>Creation date</th>
    <th>Last modified</th>
  <tr>
<% @usersuggestions.each do |sug| %>
  <tr>
    <td><%= sug.name %></td>
    <td><%= sug.department %></td>
    <td><%= sug.division %></td>
    <td><%= sug.suggestion_text %></td>
    <td><%= sug.created_at %></td>
    <td><%= sug.updated_at %></td>
  </tr>
<% end %>
</table>
<% if cookies.signed[:user_id] > 0 %>
  <%= link_to "Add suggestion", :controller => "user_suggestions",
    :action => "new" %>
  <%= link_to "Edit suggestion", :controller => "user_suggestions",
    :action => "chooseSuggestion" %>
<% end %>
